<p>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Products', products_path %> |
  <%= link_to 'Categories', category_index_path %> |
  <%= link_to 'Manufacturers', manufacturer_index_path %> |
  <%= link_to 'About Us', permalink_path('about_us') %> |
  <%= link_to 'Contact Us', permalink_path('contact') %>
</p>
