<div class="container text-center text-md-left pt-4 pt-md-5">
  <div class="justify-content-center mt-3">
    <div class="col-8 m-auto">
      <div class="card text-center text-grey bg-light">
        <h1 class="card-header text-grey">Sign In</h1>
        <div class="card-body">
          <%= form_tag '/login' do %>
          <div class="login-form">
            <p>
              <%= label_tag :username%>
              <%= text_field_tag :username %>
            </p>
            <p>
              <%= label_tag :password%>
              <%= password_field_tag :password%>
            </p>
          </div>
          <br>
          <%= submit_tag "Login"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>