<!-- MOCK FILE FOR NAV BAR TESTING-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=<%=root_path%>>RAMExpress</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href=<%= root_path %>>Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= products_path %>>Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= category_index_path %>>Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= products_path %>>Manufacturers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= permalink_path('about_us') %>>About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= permalink_path('contact') %>>Contact Us</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shopping Cart
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if @cart.empty? %>
          <p>No items in cart.</p>
        <% else %>
          <ul>
            <% @cart.each do |product, quantity| %>
              <li>
                <div>
                  <%= quantity %> x <%= product.name %> - <%= link_to 'Remove from cart', remove_from_cart_path(product), method: :delete %>
                  <%= form_with(url: update_cart_quantity_path(product.id), method: "patch") do %>
                      <%= label_tag(:quantity, "Quantity:") %>
                    <%= number_field_tag 'quantity', @cart[product].to_s, min: 1, max: 5 %>
                    <%= submit_tag("Update Quantity") %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
          Selected Province (for tax calcuation):
          <% if session[:province].nil? %>
            None selected
          <% else %>
            <%= Province.find(session[:province].to_i).name %>
          <% end %>
          <% if session[:user_id].nil? %>
            <%= form_tag(:controller => "sessions", :action => "set_province") do %>
              <%= select_tag(:province, options_from_collection_for_select(Province.all, "id", "name")) %>
              <p><%= submit_tag("Update Province", class: 'search-button') %></p>
            <% end %>
          <% end %>
          <%= button_to 'Checkout', charges_new_path(0), method: :post, params: { id: 0 } %>
        <% end %>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav">
    <% if session[:user_id].nil? %>
      <li class="nav-item"><%= button_to "Login", '/login', method: :get%></li>
      <li class="nav-item"><%= button_to "Sign Up", '/users/new', method: :get%></li>
    <% else %>
      <li class="nav-item"><p class="nav-link">Welcome, <%= @user.name %></p></li>
      <li class="nav-item"> <a class="nav-link" href=<%= welcome_path %>>Account</a> </li>
      <li class="nav-item"> <a class="nav-link" href=<%= sign_out_path %>>Sign Out</a> </li>
    <% end %>
  </ul>
</div>


</nav>




<nav class="navbar navbar-expand-md navbar-light navbar-transparent fixed-top scrolling-navbar">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href=<%=root_path%>>RAMExpress</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">button</span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Right -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#!" class="nav-link navbar-link-2 waves-effect">
            <span class="badge badge-pill red">1</span>
            <i class="fas fa-shopping-cart pl-0"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <i class="united kingdom flag m-0">Shopping Cart</i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if @cart.empty? %>
              <p>No items in cart.</p>
            <% else %>
              <ul>
                <% @cart.each do |product, quantity| %>
                  <li>
                    <div>
                      <%= quantity %> x <%= product.name %> - <%= link_to 'Remove from cart', remove_from_cart_path(product), method: :delete %>
                      <%= form_with(url: update_cart_quantity_path(product.id), method: "patch") do %>
                          <%= label_tag(:quantity, "Quantity:") %>
                        <%= number_field_tag 'quantity', @cart[product].to_s, min: 1, max: 5 %>
                        <%= submit_tag("Update Quantity") %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
              Selected Province (for tax calcuation):
              <% if session[:province].nil? %>
                None selected
              <% else %>
                <%= Province.find(session[:province].to_i).name %>
              <% end %>
              <% if session[:user_id].nil? %>
                <%= form_tag(:controller => "sessions", :action => "set_province") do %>
                  <%= select_tag(:province, options_from_collection_for_select(Province.all, "id", "name")) %>
                  <p><%= submit_tag("Update Province", class: 'search-button') %></p>
                <% end %>
              <% end %>
              <%= button_to 'Checkout', charges_new_path(0), method: :post, params: { id: 0 } %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link waves-effect">
            Shop
          </a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link waves-effect">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link waves-effect">
            Sign in
          </a>
        </li>
        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a href="#!" type="button"
            class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign
            up</a>
        </li>
      </ul>

    </div>
    <!-- Links -->
  </div>
</nav>

