<!DOCTYPE html>
<html>
  <head>
    <title>RAMExpress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'navigation/navbar' %>
      <%= render partial: 'navigation/header' %>
    </header>
    <%= yield %>
  </body>
  <%= render partial: 'components/spacer' %>
  <footer class="page-footer font-small elegant-color">
    <%= render partial: 'footer/footer' %>
  </footer>
</html>
