<!DOCTYPE html>
<html>
  <head>
    <title>RAMExpress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>RAMExpress: For all your computer and memory needs</h1>
      <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Products', products_path %> |
        <%= link_to 'Categories', category_index_path %> |
        <%= link_to 'Manufacturers', manufacturer_index_path %> |
        <%= link_to 'About Us', permalink_path('about_us') %> |
        <%= link_to 'Contact Us', permalink_path('contact') %>
        <% if session[:user_id].nil? %>
          <%= button_to "Login", '/login', method: :get%>
          <%= button_to "Sign Up", '/users/new', method: :get%>
        <% else %>
          <div>
            Welcome, <%= @user.name %>
            [<%= link_to 'Account', welcome_path %>]
            [<%= link_to 'Sign Out', sign_out_path %>]
          </div>
        <% end %>
        <details>
          <summary>Shopping Cart</summary>
          <% if @cart.empty? %>
            <p>No items in cart.</p>
          <% else %>
            <ul>
              <% @cart.each do |product, quantity| %>
                <li>
                  <div>
                    <%= quantity %> x <%= product.name %> - <%= link_to 'Remove from cart', remove_from_cart_path(product), method: :delete %>
                    <%= form_with(url: update_cart_quantity_path(product.id), method: "patch") do %>
                        <%= label_tag(:quantity, "Quantity:") %>
                      <%= number_field_tag 'quantity', @cart[product].to_s, min: 1, max: 5 %>
                      <%= submit_tag("Update Quantity") %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
            Selected Province (for tax calcuation):
            <% if session[:province].nil? %>
              None selected
            <% else %>
              <%= Province.find(session[:province].to_i).name %>
            <% end %>
            <% if session[:user_id].nil? %>
              <%= form_tag(:controller => "sessions", :action => "set_province") do %>
                <%= select_tag(:province, options_from_collection_for_select(Province.all, "id", "name")) %>
                <p><%= submit_tag("Update Province", class: 'search-button') %></p>
              <% end %>
            <% end %>
            <%= button_to 'Checkout', charges_new_path(0), method: :post, params: { id: 0 } %>
          <% end %>
        </details>
      </p>
    </header>
    <%= yield %>
  </body>
</html>
